<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<body>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate!important; table-layout: fixed; text-size-adjust: none !important; -ms-text-size-adjust: none !important; -webkit-text-size-adjust: none !important;
" width="450">
        <tbody>
            <tr>
                <td align="center" valign="top" width="79">
                    <span style="margin: 0px; padding: 0px; display: block; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                        <a style="text-decoration:none" href="https://htmlsig.com/t/000001C8GDXX">
                            <img src="https://htmlsigs.s3.amazonaws.com/logos/files/001/027/684/landscape/OBLSigPic.jpg" alt="O'Brien Lynam"
                                border="0" height="80" width="79"> </a>
                        <p style="margin:0; padding:0; line-height:10px; display:block;width:100%; font-size:1;">
                            <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="79" height="10" style="display: block; width: 100%; height: 7px;">
                        </p>
                    </span>
                    <span style="margin: 0px; padding: 0px; line-height: 100%; font-size: 0px; display: block; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                        <a style="text-decoration: none; display: inline;" href="https://twitter.com/obrienlynam">
                            <img width="24" style="margin-bottom:2px; border:none; display:inline;" height="24" data-filename="twitter.png"
                                src="https://s3.amazonaws.com/htmlsig-assets/polygon/twitter.png" alt="Twitter">
                        </a>
                        <span style="white-space: nowrap; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">
                            <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2"> </span>
                        {{linkedin}}
                        <span style="white-space: nowrap; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">
                            <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2,"> </span>
                        <span style="white-space: nowrap; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">
                            <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="2"> </span>
                    </span>
                    <p style="margin:0; padding:0; line-height:10px; display:block;width:100%; font-size:1;">
                        <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="79" height="10" style="display: block; width: 100%; height: 7px;">
                    </p>
                </td>
                <td align="left" valign="top" nowrap="nowrap" width="10">
                    <span style="margin: 0px; padding: 0px; line-height: 100%; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                        <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="10">
                    </span>
                </td>
                <td align="left" valign="top" nowrap="nowrap" width="16" style="border-left: 6px solid rgb(45, 68, 102);">
                    <span style="margin: 0px; padding: 0px; line-height: 100%; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                        <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="10">
                    </span>
                </td>
                <td align="left" valign="top" nowrap="nowrap" width="355">
                    <div style="">
                        <span style="margin: 0px; padding: 0px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 14px; line-height: 16.8px; color: rgb(33, 33, 33); display: block;">
                            <span style="font-weight: bold; color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">{{name}}</span>
                            {{name_title_seperator}}
                            <span style="color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-weight: 700; display: inline;">{{job_title}}</span>
                            <span style="display: inline; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                                <br>
                            </span>
                            <a href="mailto:{{email}}" style="color: rgb(45, 68, 102); text-decoration: none; display: inline;">{{email}}</a>
                            {{direct_dial_seperator}}
                            <span style="color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">{{direct_dial}}</span>
                            <br>
                            <span style="color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">{{mobile}}</span>

                        </span>
                        <p style="margin:0; padding:0; line-height:10px; display:block;width:100%; font-size:1;">
                            <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="355" height="10" style="display: block; width: 100%; height: 7px;">
                        </p>
                        <span style="margin: 0px; padding: 0px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 14px; line-height: 16.8px; display: block;">
                            <span style="font-weight: bold; color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">O'Brien Lynam | OBL Solicitors</span>
                            <span style="display: inline; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                                <br>
                            </span>
                            <span style="color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">Ph: +353-1-6787446</span>
                            <span style="color: rgb(45, 68, 102); display: inline; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                            | </span>
                            <span style="color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">Fax: +353-1-6787447</span>
                            <span style="display: inline; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                                <br>
                            </span>
                            <span style="color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">15 Upper Fitzwilliam Street</span>
                            <span style="display: inline; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                                <br>
                            </span>
                            <span style="color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">Dublin 2</span>
                            <span style="display: inline; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                                <br>
                            </span>
                            <span style="color: rgb(45, 68, 102); font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; display: inline;">DX 109036 Fitzwilliam</span>
                            <span style="display: inline; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif;">
                                <br>
                            </span>
                            <a href="https://www.obl.ie" style="color: rgb(45, 68, 102); text-decoration: none; display: inline;">www.obl.ie</a>
                            <p style="margin:0; padding:0; line-height:10px; display:block;width:100%; font-size:1;">
                                <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="355" height="10" style="display: block; width: 100%; height: 7px;">
                            </p>
                        </span>
                    </div>
                </td>
                
            </tr>
            <tr>
                <td colspan="4" style="font-size:0;">
                    <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" height="10">
                </td>
            </tr>
            <tr cclass="hide-on-show">
                <td colspan="4"> </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p style="margin:0; padding:0; line-height:10px; display:block;width:100%; font-size:1;">
                        <img src="https://s3.amazonaws.com/htmlsig-assets/spacer.gif" width="460" height="10" style="display: block; width: 100%; height: 7px;">
                    </p>
                    <span style="margin: 0px; padding: 0px; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; color: rgb(45, 68, 102); font-size: 9px; line-height: 12px; display: block;">STRICTLY PRIVATE AND CONFIDENTIAL Please note that this <span style="font-weight: 700; text-decoration: underline;">encrypted</span> email and the files transmitted with
                        it are privileged, confidential and intended solely for the Addressee only. If you have received
                        or been passed this email in error please notify O'Brien Lynam Solicitors, Patrick Hanlon IT Director
                        at phanlon@obl.ie by return.
                    </span>
                </td>
            </tr>
        </tbody>
    </table> 
</body>
</html>