<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-uppercase" href="http://46.101.13.247/">Email Signature Generator</a>
</nav>

<style>
.navbar-brand {
  letter-spacing: 0.025em;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
}

</style>


<div class="container">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</div>