{% extends 'base.html' %} {% block header %}
<h1 class="my-5">{% block title %}Create Signature{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
	<div class="form-group">
		<label for="name">Name</label>
		<input class="form-control" name="name" id="name" required>
	</div>
	<div class="form-group">
		<label for="job_title">Job Title</label>
		<input class="form-control" name="job_title" id="job_title" required>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input class="form-control" name="email" id="email" required>
	</div>
	<div class="form-group">
		<label for="direct_dial">Direct Dial</label>
		<input placeholder='+353-1-634-5555' class="form-control" name="direct_dial" id="direct_dial" >
	</div>
	<div class="form-group">
		<label for="mobile">Mobile</label>
		<input placeholder='+353-87-2726833' class="form-control" name="mobile" id="mobile" >
	</div>
	<div class="form-group">
		<label for="linkedin">LinkedIn</label>
		<input class="form-control" name="linkedin" id="linkedin">
	</div>
	
	<input class="btn btn-primary" type="submit" value="Create">
</form>
{% endblock %}
